<!DOCTYPE html>
<html>
  <head>
    <title>Camp Sites App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>